#.htaccess, luôn luôn cùng cấp file index.php gốc
RewriteEngine On

RewriteRule gio-hang-cua-ban.html index.php?controller=cart&action=index


#Xóa sp khỏi giỏ:
RewriteRule xoa-san-pham/([0-9]+).html index.php?controller=cart&action=delete&id=$1
